gris = #D7D1D1
gris_oscuro = #444
azul = #4598BF
plateado = #F1F1F1
body 
	background gris
	color gris_oscuro
	font-family helvetica
	font-size 16px


header
	background gris_oscuro
	color white
	padding 1em
 
	h1 
		text-align left


img
	width 80px

nav
	background plateado

	ul 
		top 20% 
		left 25%
		nav-index 1 
		nav-right #b2 
		nav-left #b4 
		nav-down #b2 
		nav-up #b4